<div class="container">
    <div class="row ">
        <div class="col-2 text-truncate">
            <h3>Content</h3>
        </div>
    </div>
    <div>
        <span style="max-width: 150px;">
            Saitama is the most powerful hero in all universes, maybe you don't think the same, maybe you thing that is
            Goku, but you are wrong darling. Actually i don't have any idea what else i need to put in this text!
        </span>
    </div>
</div>
<div class="container">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>