<!-- your html code here -->
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-7">
            <h1 class="d-inline-flex"><strong>This First Heading</strong></h1>
            <h1 class="text-secondary d-inline-flex">Will Catch Your Eye </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra tincidunt lacus sed tincidunt. Nam ornare neque a lacus dignissim, sit amet blandit magna mollis. Praesent tincidunt enim sit amet tellus eleifend, nec vehicula augue luctus.</p>
        </div>
        <div class="col-4">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-html-website_Equipo2/refs/heads/master/website/assets/img/1.jpg" alt="" class="rounded-circle" style="width: 400px;">
        </div>
    </div>
</div>