<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex">
    <p class="" style="font-size: 16px;"><strong>Portafolio</strong></p>
    <p>Donec ullamcorper nulla non metus actor fringilla. 
        Vestibulum id ligula porta felis euismod semper. Praesent commodo
    cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus 
    ac cursus commodo</p>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            </div> 
        </div>
</div>
</body>
</html>

