<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-html-website_Equipo2/refs/heads/master/website/assets/img/2.jpg" alt="" class="rounded-circle" style="width: 350px;" alt="" class="rounded-circle" style="width: 400px;">
        </div>
        <div class="col-7">
            <h2 class="d-inline-flex"><strong>The Second Heading</strong></h2>
            <h2 class="text-secondary d-inline-flex">Is Pretty Cool</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra tincidunt lacus sed tincidunt. Nam ornare neque a lacus dignissim, sit amet blandit magna mollis. Praesent tincidunt enim sit amet tellus eleifend, nec vehicula augue luctus.</p>
        </div>
    </div>
</div>